#header-nav {
  background-color: #bebebe;
  border-radius: 0;
  border: 0;
}
.container {
  font-size: 3em;
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 5px;
  margin-left: 15px;
}
* {
  box-sizing: border-box;
}

.text-center {
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 30px;
}

@media(min-width: 992px)  {
  #subhead {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.25em;
    font-weight: bold;
    padding: 3px;
    }
  .col-md-12 {
    position: relative;
    background-color: #bebebe;
    font-family: sans-serif;
    padding-left: 7px;
    padding-right: 3px;
    padding-bottom: 3px;
    margin: 2%;
    border: 1px solid black;
    overflow: auto;
    width: 96%
  }
  .navbar-default .navbr-brand:hover,
  .navbar-default .navbr-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
  }
}
@media(min-width: 768px) and (max-width: 991px) {
  #subhead {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.25em;
    font-weight: bold;
    padding: 3px;
    }
  .col-sm-12 {
    position: relative;
    background-color: #bebebe;
    font-family: sans-serif;
    padding-left: 7px;
    padding-right: 3px;
    padding-bottom: 3px;
    margin: 2.5%;
    border: 1px solid black;
    overflow: auto;
    width: 95%
  }
  .navbar-default .navbr-brand:hover,
  .navbar-default .navbr-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  #subhead {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.25em;
    font-weight: bold;
    padding: 3px;
    }
  .col-xs-12 {
    position: relative;
    background-color: #bebebe;
    font-family: sans-serif;
    padding-left: 7px;
    padding-right: 3px;
    padding-bottom: 3px;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    border: 1px solid black;
    overflow: auto;
    width: 80%
  }
  #nav-list {
    position: relative;
    text-align: center;
    border-top: 1px solid black;
  }
  .border {
    border-bottom: 1px solid black;
  }
  .navbar-toggle {
    margin-top: 10px;
    right:-10px;
  }
  .navbar-default .navbr-brand:hover,
  .navbar-default .navbr-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
  }
}
